@{Layout="_Layout";}

@using Library.Models
@model IEnumerable<Library.Models.Book>
  
<h1>CURRENT BOOKS IN LIBRARY</h1>

<div class="form-inline">
  @using (Html.BeginForm("Search", "Books"))
  {
    <label for="query">SEARCH FOR A BOOK:</label>
    <input type="text" name="query" id="query">
    <br>
    <input type="submit" class="btn" value="Search" />
  }
</div>

@if (Model.Any())
{
  <ul>
    @foreach(Book book in Model)
    {
      <li>@Html.ActionLink($"{book.Title}", "Details", new {id = book.BookId})</li>
    }
  </ul>
}
else
{
  <h4>no books added yet</h4>
}

@Html.ActionLink("ADD BOOK", "Create", "Books", null, new { @class="btn-block"})