@{Layout = "_Layout";}

@model Library.Models.Author

<h1>EDIT DETAILS FOR @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <input type="submit" class="btn-block" value="SAVE CHANGES"/>
}